.goBackArrow {
  position: absolute;
}

mat-icon {
  width: 10px;
}

.membersContainer {
  width: 95vw;
  margin: auto;
}

h2 {

  text-align: center;
}

h3 {
  margin: 0;
}

.statusBarNumber {
  text-align: right;
}
