<div class="teamTrackerContainer">
  <div *ngIf="this.userTeams !== undefined && this.userTeams.length === 0">
    Il semblerait que vous ne soyez dans aucune équipe.
    <br/>
    Vous pouvez créer la votre si vous le souhaitez
    <form [formGroup]="this.createTeamFormGroup">
      <mat-form-field appearance="standard">
        <mat-label>Nom de l'équipe</mat-label>
        <input matInput type="text" formControlName="teamName">
      </mat-form-field>

      <button mat-raised-button aria-label="Créer l'équipe" (click)="ajouterEquipe()">
        Créer l'équipe
      </button>
    </form>
  </div>
  <div *ngIf="this.teams.length > 0">
    <h2>Vos équipes</h2>
    <div class="subtitleTeam">
      <i>C'est toujours mieux d'avancer ensemble</i>
    </div>
    <div *ngFor="let userTeam of teams">
      <mat-card>
        <mat-card-header>
          <mat-card-title>{{userTeam.teamName}}</mat-card-title>
          <mat-card-subtitle>Mon incroyable équipe</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="https://www.signupgenius.com/images/new-landing/sports/get-started-background.jpg" alt="Happy smiling team">
        <mat-card-actions>
          <button mat-raised-button [routerLink]="[userTeam.eventId]" [color]="'primary'">Membres</button>
          <button mat-button [disabled]="true">Modifier</button>
        </mat-card-actions>
      </mat-card>
      <div class="card-separator"></div>
    </div>
  </div>
</div>
