h2 {
  margin: 20px 0 20px 0;
}

.textVide {
  font-size: 25px;
}

.totalCaloriesText {
  margin: 10px 0 20px 0;
  font-size: 18px;
}

.historiqueContainer {
  margin: 40px 0 0 0;
  padding: 0 0 40px 0;
}
