<div class="formIntake">
  <form [formGroup]="intakeFormGroup">

    <button class="topButton" mat-raised-button (click)="goToLaura()">Laura</button>
    <button class="topButton" mat-raised-button (click)="goToArnaud()">Arnaud</button>

    <h1 *ngIf="this.isOverMaxIntake()">OW ! STOP MANGER GROS PORC</h1>
    <div class="spinnerContainer">
      <mat-progress-spinner
        class="progressSpinner"
        [color]="getColorStateOfSpinner()"
        [diameter]="this.spinnerDiameter"
        [strokeWidth]="15"
        [mode]="'determinate'"
        [value]="getSpinnerProgressValue()">
      </mat-progress-spinner>
    </div>

    <div class="textInSpinner" [ngStyle]="getSpinnerTextStyle()">
      {{getTotalCurrentIntakesFromSelectedUser()}} / {{this.itemForSelectedUser.targetIntake}}
    </div>

    <mat-form-field appearance="standard">
      <mat-label>Titre de l'apport calorique</mat-label>
      <input matInput type="text" formControlName="titleIntake">
      <button matSuffix mat-icon-button aria-label="Clear" (click)="resetTitleIntake()">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>

    <mat-form-field appearance="standard">
      <mat-label>Montant calorique</mat-label>
      <input matInput type="number" formControlName="intakeValue">
      <button matSuffix mat-icon-button aria-label="Clear" (click)="resetIntakeValue()">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>

    <button mat-raised-button aria-label="Ajouter cet apport" (click)="ajouterApport()">
      Ajouter l'apport
    </button>
  </form>
</div>
