<button class="addAlimentButton" mat-mini-fab (click)="openPopupAddFood()">+</button>
<div *ngIf="!isUserLoggedAndWithoutTargetIntake()">
  <div class="selectionButtonContainer">
    <div>{{getSelectedPerson().displayName}}</div>
  </div>
  <div #intakeSection id="intakeSection" class="formIntake">
    <form [formGroup]="intakeFormGroup">
      <h1 style="color: red; margin-top: 15px" *ngIf="this.isOverMaxIntake()">OW ! STOP MANGER GROS PORC</h1>
      <div class="spinnerContainer">
        <mat-progress-spinner
          class="progressSpinnerBackground"
          [color]="'warn'"
          [diameter]="this.spinnerDiameter"
          [strokeWidth]="14"
          [mode]="'determinate'"
          [value]="100">
        </mat-progress-spinner>
        <mat-progress-spinner
          class="progressSpinner"
          [color]="getColorStateOfSpinner()"
          [diameter]="this.spinnerDiameter"
          [strokeWidth]="15"
          [mode]="'determinate'"
          [value]="getSpinnerProgressValue()">
        </mat-progress-spinner>


      </div>

      <div class="textInSpinner" [ngStyle]="getSpinnerTextStyle()"
           *ngIf="getTargetIntakeOfSelectedUser() > 0 && this.isInIntakeView" (click)="switchIntakeMacrosDisplay()">
        {{getTotalCurrentIntakesFromSelectedUser()}} / {{(this.selectedPerson?.targetIntake)}}
      </div>
      <div class="textInSpinner" [ngStyle]="getSpinnerTextStyleMacros()"
           *ngIf="getTargetIntakeOfSelectedUser() > 0 && !this.isInIntakeView" (click)="switchIntakeMacrosDisplay()">
        P : {{this.getCurrentProtein()}} / {{this.selectedPerson?.proteinTarget}}<br/><br/>
        G : {{this.getCurrentCarbohydrates()}} / {{this.selectedPerson?.carbohydratesTarget}} <br/><br/>
        L : {{this.getCurrentFat()}} / {{this.selectedPerson?.fatTarget}} <br/>
      </div>
      <div class="textInSpinnerNotSelected" [ngStyle]="getSpinnerTextStyle()"
           *ngIf="getTargetIntakeOfSelectedUser() === 0">
        {{getCurrentSmiley()}}
      </div>

      <mat-form-field>
        <mat-label>Sélectionnez ici</mat-label>
        <mat-select [(value)]="selectedFood" (selectionChange)="adjustWeight()">
          <mat-option></mat-option>
          <mat-option *ngFor="let food of this.foods" [value]="food.food">
            {{food.viewValue}} | {{food.food.weight}}g
          </mat-option>
        </mat-select>
      </mat-form-field>
      <form [formGroup]="foodSelectionFormGroup">
      <mat-form-field *ngIf="selectedFood !== undefined">
            <mat-label>Weight</mat-label>
            <input matInput type="number" formControlName="weight">
      </mat-form-field>
      </form>
      <div *ngIf="selectedFood !== undefined">
        <p>Calories : {{weightChangeFactor(this.selectedFood?.calories)}}</p>
        <p>P: {{weightChangeFactor(this.selectedFood?.protein)}} G: {{weightChangeFactor(selectedFood?.carbohydrates)}}
          L: {{weightChangeFactor(selectedFood?.fat)}}</p>
        <button mat-raised-button aria-label="Ajouter cet aliment" (click)="ajouterAliment()">
          Ajouter
        </button>
      </div>

      <br/>
      <br/>
      <br/>
      <p>
        <b>OU</b>
      </p>

      <button mat-raised-button aria-label="Scanner code barre" (click)="goToScanner()">
        Scanner le code barre (NOT WORKING)
      </button>

      <br/>
      <br/>
      <br/>
      <p>
        <b>OU</b>
      </p>

      <mat-form-field appearance="standard">
        <mat-label>Titre de l'apport calorique</mat-label>
        <input matInput type="text" formControlName="titleIntake">
        <button matSuffix mat-icon-button aria-label="Clear" (click)="resetTitleIntake()">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>

      <mat-form-field appearance="standard">
        <mat-label>Montant calorique</mat-label>
        <input matInput type="number" formControlName="intakeValue">
        <button matSuffix mat-icon-button aria-label="Clear" (click)="resetIntakeValue()">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>

      <mat-form-field appearance="standard">
        <mat-label>Protéines</mat-label>
        <input matInput type="number" formControlName="protein">
        <button matSuffix mat-icon-button aria-label="Clear" (click)="resetProteinValue()">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>

      <mat-form-field appearance="standard">
        <mat-label>Glucides</mat-label>
        <input matInput type="number" formControlName="carbohydrates">
        <button matSuffix mat-icon-button aria-label="Clear" (click)="resetCarbohydratesValue()">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>

      <mat-form-field appearance="standard">
        <mat-label>Lipides</mat-label>
        <input matInput type="number" formControlName="fat">
        <button matSuffix mat-icon-button aria-label="Clear" (click)="resetFatValue()">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>

      <button mat-raised-button aria-label="Ajouter cet apport" (click)="ajouterApport()">
        Ajouter l'apport
      </button>
    </form>

    <app-intakes-history
      [currentIntakes]="this.selectedUserIntakes"
    ></app-intakes-history>
  </div>
</div>

<div *ngIf="isUserLoggedAndWithoutTargetIntake()">
  <div class="setTargetIntakeContainer">
    <p style="font-size: 20px">Il semblerait que vous n'ayez pas d'objectif calorique journalier ...</p>
    <div class="textVide" style="padding: 20px 0 50px 0">🤔</div>
    <p style="font-size: 15px">Fixez-vous en un pour commencer à utiliser le tracker !</p>
    <form [formGroup]="targetIntakeSetupFormGroup">
      <mat-form-field appearance="standard">
        <mat-label>Objectif calorique journalier</mat-label>
        <input matInput type="number" formControlName="targetIntake">
        <mat-label>Objectif protéines journalier</mat-label>
        <input matInput type="number" formControlName="proteinTarget">
        <mat-label>Objectif glucides journalier</mat-label>
        <input matInput type="number" formControlName="carbohydratesTarget">
        <mat-label>Objectif lipides journalier</mat-label>
        <input matInput type="number" formControlName="fatTarget">
      </mat-form-field>
      <button mat-raised-button aria-label="Confirmer cet objectif (YOLO)" (click)="ajouterObjectif()">
        Confirmer cet objectif (YOLO)
      </button>
    </form>
  </div>
</div>
